body {
    font-family: "Segoe UI" !important;
    font-size: 14px;
}

.pageLayout {
    margin-left: 25%;
    margin-right: 25%;
}

.appendButton {
    border: 0px;
    background-color: #3a3;
    cursor: pointer;
    padding-left: 20px;
    min-height: 40px;
    padding-right: 20px;
    text-decoration: underline;
    color: white;
    text-decoration: none;
    display:  block;
    width: 100%;
    font-size: 1.2em;
    min-width: 300px;
}

.appendButton:hover
{
    background-color: #292
}

.taskCheckbox {
    width: 16px;
    min-width: 16px;
    height: 16px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;
    margin-right: 8px;
}

.taskName {
    max-width: 150px;
    min-width: 150px;
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 1.1em;
    color: white;
    overflow: hidden
}

.taskDeleteButton {
    background-color: Transparent;                 
    text-decoration: underline;                 
    color:   #Ec4042;
    font-size: 1.1em;

    font-weight:  600;
    cursor: pointer; 
    border:0;
    float: right;
    min-height: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
    display: block;
    text-decoration: none;
}

.taskDeleteButton:hover {
    color:  #F44;
}

.taskList {

    padding: 0px;
    display:  block;
    min-height: 40px;
    min-width: 300px;
}

.taskList > li {
    min-height: 40px;
    display: block;
    background-color: #168; 
    margin-bottom: 5px;
    color: white;
    line-height: 40px;
    padding-left: 10px;
}

/*
.taskList > li:hover {
     background-color: #1c6c8c; 
} */